.block-13 {
  > .title {
    margin: 20px 0 0 0;
    text-align: center;
    > h2 {
      font-family: 'Museo Sans Cyrl 700';
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: 500;
      > span {
        font-family: 'Museo Sans Cyrl 900';
        text-transform: uppercase;
        font-weight: 900;
      }
    }
    > h3 {
      font-family: 'Museo Sans Cyrl 100';
      font-size: 1.1em;
    }
  }
  > .block-13-content {
    margin: 50px 0 0 0;
    > .slider {
      position: relative;
      > .slider-arrow {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition;
        z-index: 5;
      }
      > .left {
        position: absolute;
        top: 50%;
        left: #{calc(((100% - 1200px) / 2) - 50px)};
        transform: translateY(-50%);
        @media (max-width: 1300px) { display: none; }
        &:hover {
          transform: scale(1.2) translateY(-50%);
        }
      }
      > .right {
        position: absolute;
        top: 50%;
        right: #{calc(((100% - 1200px) / 2) - 50px)};
        transform: translateY(-50%);
        @media (max-width: 1300px) { display: none; }
        &:hover {
          transform: scale(1.2) translateY(-50%);
        }
      }
      > .slider-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        > .card {
          position: relative;
          height: 380px;
          width: 95%;
          max-width: 270px;
          border-radius: 5px;
          box-shadow: $shadow;
          display: flex;
          overflow: hidden;
          margin: 0 0 20px 0;
          > img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
          }
        }
      }
      > .slider-navigation {
        margin: 50px;
        height: 15px;
        display: none;
        justify-content: center;
        align-items: center;
        @media (max-width: 900px) { display: none; }
        > .element {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px 0 5px;
          > div {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #d0d0d0;
            cursor: pointer;
            transition: $transition;
            &:hover {
              transform: scale(2);
            }
          }
        }
        > .active {
          background-color: #d0d0d0;
          > div {
            background: rgb(31,178,246);
            background: linear-gradient(to bottom,  rgba(31,178,246,1) 0%,rgba(6,101,165,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb2f6', endColorstr='#0665a5',GradientType=0 );
          }
        }
      }
    }
  }
}
