.block-7 {
  position: relative;
  width: 100%;
  > .title {
    margin: 100px 0 0 0;
    text-align: center;
    > h2 {
      font-family: 'Museo Sans Cyrl 700';
      font-size: 2.5em;
      text-transform: uppercase;
      font-weight: 500;
      > span {
        font-family: 'Museo Sans Cyrl 900';
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }
  > .block-7-content {
    margin: 60px 0 0 0;
    > .slider {
      position: relative;
      > .slider-arrow {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition;
      }
      > .left {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
        &:hover {
          transform: scale(1.2) translateY(-50%);
        }
      }
      > .right {
        position: absolute;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        &:hover {
          transform: scale(1.2) translateY(-50%);
        }
      }
      > .slider-content {
        display: flex;
        justify-content: space-around;
        > .card {
          position: relative;
          height: 250px;
          width: 95%;
          max-width: 550px;
          border-radius: 50px;
          box-shadow: $shadow;
          padding: 30px;
          display: flex;
          background-color: white;
          > .avatar {
            height: 70px;
            width: 70px;
            border: 1px solid #138ccf;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 10px 5px rgba(19, 140, 207, 0.3);
            cursor: pointer;
            transition: $transition;
            &:hover {
              transform: scale(1.2);
            }
            > img {
              height: 100%;
              width: 100%;
              -o-object-fit: cover;
                 object-fit: cover;
            }
          }
          > .text {
            height: 100%;
            width: #{calc(100% - 100px)};
            margin: 0 0 0 20px;
            > h2 {
              font-family: 'Museo Sans Cyrl 500';
              font-size: 1.5em;
            }
            > h3 {
              font-family: 'Museo Sans Cyrl 100';
              font-size: 1.2em;
              margin: 5px 0 0 0;
            }
            > p {
              font-family: 'Museo Sans Cyrl 100';
              font-size: 1em;
              margin: 10px 0 0 0;
            }
          }
          > .decoration {
            position: absolute;
            top: 55px;
            left: 20px;
            height: calc(100% - 50px);
            width: calc(100% - 50px);
            background: rgb(31,178,246);
            background: linear-gradient(to bottom,  rgba(31,178,246,1) 0%,rgba(6,101,165,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb2f6', endColorstr='#0665a5',GradientType=0 );
            transform: rotate(2deg);
            border-radius: 50px;
            z-index: -1;
          }
        }
      }
      > .slider-navigation {
        margin: 50px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        > .element {
          height: 16px;
          width: 16px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px 0 5px;
          > div {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #d0d0d0;
            cursor: pointer;
            transition: $transition;
            &:hover {
              transform: scale(2);
            }
          }
        }
        > .active {
          background-color: #d0d0d0;
          > div {
            background: rgb(31,178,246);
            background: linear-gradient(to bottom,  rgba(31,178,246,1) 0%,rgba(6,101,165,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fb2f6', endColorstr='#0665a5',GradientType=0 );
          }
        }
      }
    }
  }
}
