@import url('../fonts/museo-sans/stylesheet.css');
@import "../../fonts/fontawesome/scss/fontawesome.scss";
@import "../../fonts/fontawesome/scss/solid.scss";
@import "../../fonts/fontawesome/scss/regular.scss";
@import "../../fonts/fontawesome/scss/brands.scss";

$mainColor: #f16d7f; // Розовый цвет
$alterColor: #f6f6f6; // Серый цвет
$bgColor: rgba(255, 255, 255, 1);
$fontFamily: 'Museo Sans Cyrl 300';
$fontSize: 16px;
$fontWeight: 300;
$fontColor: #222222;
$border: 1px solid #ececec;
$cartTitleBg: rgba(248, 243, 244, 1); // цвет для заголовка на странице корзина
$transition: 0.3s; // скорость для переходов
$shadow: 0px 0px 10px 5px rgba(195, 195, 195, 0.3);

@mixin elHover($_color) { // цвет при наведении
  background-color: darken($_color, 10%);
}

@mixin elActive($_color) { // цвет при нажатии
  background-color: darken($_color, 20%);
}
