.breadcrumbs {
  > .breadcrumbs-content{
    height: 35px;
    min-height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    > a {
      font-family: $f300;
      font-size: 1em;
      border-bottom: 1px solid rgba(255,255,255,0);
      &:hover {
        border-bottom: 1px solid #333333;
      }
    }
    > i {
      font-size: 1em;
      margin: 0 5px 0 5px;
    }
  }
}
