.header {
  min-height: 190px;
  background-color: #f6f6f6;
  > .header-top-content {
    height: 50px;
    z-index: 99999;
    > div {
      height: 100%;
      max-height: 50px;
      width: 100%;
      background-color: #f6f6f6;
      > .left {
        height: 100%;
        width: 50%;
        border-radius: 0 25px 25px 0;
        > .upper {
          height: 100%;
          width: 99%;
          border-radius: 0 25px 25px 0;
          background-color: white;
          > .info {
            padding: 0 15px 0 15px;
            height: 100%;
            border-radius: 25px;
            cursor: pointer;
            > div {
              height: 25px;
              width: 25px;
            }
            > a {
              margin: 0 0 0 10px;
              font-family: $f300;
            }
            &:last-child {
              margin: 0 5px 0 0;
            }
            &:not(:last-child) {
              margin: 0 1px 0 0;
            }
            &:hover {
              background: rgb(0,192,255);
              background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
              > a {
                color: white;
              }
            }
          }
        }
      }
      > .right {
        height: 100%;
        width: 50%;
        background-color: #f6f6f6;
        > .info {
          margin: 0 25px 0 25px;
          > div {
            height: 25px;
            width: 25px;
            position: relative;
            > .count {
              position: absolute;
              top: -5px;
              right: -10px;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: $transition;
              &:hover {
                background: rgb(59,229,0);
                background: linear-gradient(to bottom,  rgba(59,229,0,1) 0%,rgba(37,172,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3be500', endColorstr='#25ac00',GradientType=0 );
                transform: scale(1.1);
              }
              > a {
                font-family: $f700;
                font-size: 0.7em;
                color: white;
              }
            }
          }
          > a {
            margin: 0 0 0 15px;
            font-family: $f700;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  > .header-middle-content {
    > .container {
      height: 140px;
      > .logo {
        > .title {
          font-family: 'Gilroy';
          font-weight: 300;
          font-size: 3em;
          > span {
            font-family: 'Gilroy';
            font-weight: 800;
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        > p {
          font-family: $f300;
          font-size: 0.8em;
        }
      }
      > .address {
        margin: 0 30px 0 30px;
        > .image-contain {
          height: 25px;
          width: 25px;
          min-height: 25px;
          min-width: 25px;
        }
        > p {
          max-width: 135px;
          font-family: $f300;
          font-size: 0.8em;
          margin: 0 0 0 10px;
        }
      }
      > .search {
        > p {
          font-family: $f100;
          font-size: 1em;
        }
        > .search-form {
          position: relative;
          height: 50px;
          min-height: 50px;
          width: 100%;
          max-width: 350px;
          margin: 25px 0 0 0;
          > input {
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #c6c6c6;
            border-radius: 25px;
            padding: 0 0 0 25px;
            overflow: hidden;
            font-family: $f100;
            font-size: 1em;
            color: #9c9c9c;
            transition: $transition;
            &:hover {
              border: 1px solid #00b9f8;
              box-shadow: inset $shadow;
            }
            &:focus {
              border: 1px solid #00b9f8;
              box-shadow: inset $shadow;
            }
          }
          > button {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100px;
            background-color: #ffffff;
            border: 2px solid #00c0ff;
            border-radius: 25px;
            font-family: $f700;
            font-size: 1em;
            color: #00c0ff;
            transition: $transition;
            &:hover {
              border: 2px solid rgb(0,80,136);
              background: rgb(0,80,136);
              background: linear-gradient(to bottom,  rgba(0,80,136,1) 0%,rgba(0,62,98,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005088', endColorstr='#003e62',GradientType=0 );
              color: white;
            }
          }
        }
      }
      > .tel {
        > h2 {
          font-family: $f700;
          font-size: 1.6em;
          text-align: center;
          > span {
            color: #00aced;
            margin: 0 0 0 0;
          }
        }
        > button {
          height: 50px;
          width: 250px;
          margin: 15px 0 5px 0;
          background-color: #ffffff;
          border-radius: 25px;
          border: 2px solid #00c0ff;
          font-family: $f700;
          font-size: 1em;
          color: #00c0ff;
          text-transform: uppercase;
          transition: $transition;
          &:hover {
            border: 2px solid rgb(0,80,136);
            background: rgb(0,80,136);
            background: linear-gradient(to bottom,  rgba(0,80,136,1) 0%,rgba(0,62,98,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005088', endColorstr='#003e62',GradientType=0 );
            color: white;
          }
        }
      }
    }
  }
  > .header-bottom-nav {
    height: 55px;
    width: 100%;
    box-shadow: $shadow;
    > .container {
      height: 100%;
      > div {
        position: relative;
        height: 100%;
        padding: 0 15px 0 15px;
        border-radius: 3px;
        cursor: pointer;
        flex-grow: 1;
        transition: $transition;
        > a {
          display: flex;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:not(:last-child) {
          margin: 0 1px 0 0;
        }
        &:hover {
          background: rgb(0,192,255);
          background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
          color: white;
        }
        &:hover > .header-bottom-nav-hover {
          display: flex;
        }
        > div {
          height: 30px;
          width: 30px;
        }
        > p {
          font-family: $f300;
          font-size: 1em;
          margin: 0 0 0 10px;
        }
        > .header-bottom-nav-hover {
          display: none;
          background-color: white;
          position: absolute;
          top: 100%;
          left: 0;
          width: auto;
          max-width: 1110px;
          background-color: white;
          height: auto;
          z-index: 20;
          padding: 1px;
          box-shadow: $shadow;
          > .nav-menu {
            width: 325px;
            > .item {
              margin: 5px 0 5px 0;
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 35px;
              background-color: #f4f4f4;
              cursor: pointer;
              &:hover {
                background: rgb(0,80,136);
                background: linear-gradient(to bottom,  rgba(0,80,136,1) 0%,rgba(0,62,98,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005088', endColorstr='#003e62',GradientType=0 );
                > .decoration {
                  background: none;
                }
                > .text {
                  color: white;
                }
                > .chevron {
                  > i {
                    color: white;
                  }
                }
                > .nav-menu-links {
                  display: flex;
                }
              }
              > .decoration {
                height: 100%;
                width: 5px;
                margin-left: 5px;
                border-radius: 3px;
              }
              > .text {
                font-family: $f700;
                font-size: 1em;
                color: $fontColor;
                width: 100%;
                margin: 0 0 0 15px;
              }
              > .chevron {
                margin: 0 10px 0 0;
                > i {
                  color: $fontColor;
                  font-size: 1em;
                }
              }
              > .nav-menu-links {
                width: 800px;
                max-height: 447px;
                display: none;
                position: absolute;
                top: 0;
                left: 100%;
                background-color: white;
                box-shadow: $shadow;
                z-index: 20;
                > .nav-links {
                  padding: 10px;
                  display: flex;
                  flex-direction: column;
                  > a {
                    margin: 5px 0 5px 0;
                    font-family: $f300;
                    font-size: 0.8em;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
                > .nav-brands {
                  padding: 10px 0 0 0;
                  display: flex;
                  flex-direction: column;
                  flex-wrap: wrap;
                  align-items: baseline;
                  width: inherit;
                  > a {
                    margin: 5px 20px 5px 20px;
                    font-family: $f300;
                    font-size: 0.8em;
                    transition: $transition;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
            > .active {
              background: rgb(0,192,255);
              background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
              > .decoration {
                background: none;
              }
              > .text {
                color: white;
              }
              > .chevron {
                > i {
                  color: white;
                }
              }
            }
          }
        }
      }
      > .active {
        background: rgb(0,192,255);
        background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
        color: white;
        > p {
          font-family: $f700;
        }
      }
    }
  }
}
