.main-nav {
  height: 90px;
  width: 100%;
  margin: 40px auto 0 auto;
  > .container {
    height: 100%;
    box-shadow: $shadow;
    > a {
      height: 100%;
      padding: 0 15px 0 15px;
      border-radius: 3px;
      flex-grow: 1;
      transition: $transition;
      &:not(:last-child){
        margin: 0 1px 0 0;
      }
      &:hover {
        background: rgb(0,192,255);
        background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
        color: white;
        > .icon-pump {
          background-image: url('../image/icon/pump-white.svg');
        }
        > .icon-spare {
          background-image: url('../image/icon/spare-white.svg');
        }
        > .icon-helmet {
          background-image: url('../image/icon/helmet-white.svg');
        }
        > .icon-wrench {
          background-image: url('../image/icon/wrench-white.svg');
        }
        > .icon-scooter {
          background-image: url('../image/icon/scooter-white.svg');
        }
        > .icon-contacts {
          background-image: url('../image/icon/contacts-white.svg');
        }
      }
      > div {
        height: 30px;
        width: 30px;
      }
      > p {
        font-family: $f300;
        font-size: 1em;
        margin: 0 0 0 10px;
      }
      > .icon-bike {
        background-image: url('../image/icon/bike-white.svg');
      }
      > .icon-pump {
        background-image: url('../image/icon/pump.svg');
      }
      > .icon-spare {
        background-image: url('../image/icon/spare.svg');
      }
      > .icon-helmet {
        background-image: url('../image/icon/helmet.svg');
      }
      > .icon-wrench {
        background-image: url('../image/icon/wrench.svg');
      }
      > .icon-scooter {
        background-image: url('../image/icon/scooter.svg');
      }
      > .icon-contacts {
        background-image: url('../image/icon/contacts.svg');
      }
    }
    > .active {
      background: rgb(0,192,255);
      background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
      color: white;
      > p {
        font-family: $f700;
      }
    }
  }
}
