.questions {
  min-height: 800px;
  background-image: url('../image/questions-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0 0 0;
  > .questions-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    > .questions-form {
      width: 100%;
      max-width: 570px;
      > h2 {
        font-family: $f300;
        font-size: 2em;
        color: white;
        text-transform: uppercase;
        > span {
        font-family: $f900;
        }
      }
      > p {
        font-family: $f300;
        font-size: 1em;
        color: white;
        > span {
          font-family: $f900;
          color: #fbe600;
        }
      }
      > .inputs {
        margin: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        > input {
          height: 45px;
          width: 100%;
          max-width: 255px;
          min-width: 255px;
          border: none;
          border-radius: 25px;
          padding: 0 0 0 20px;
          overflow: hidden;
          font-family: $f100;
          font-size: 1em;
          color: white;
          background-color: rgba(100,100,100,0.5);
          cursor: pointer;
        }
      }
      > .textarea {
        width: 100%;
        height: 100px;
        border-radius: 25px;
        > textarea {
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          border-radius: 25px;
          padding: 10px 0 0 20px;
          overflow: hidden;
          font-family: $f100;
          font-size: 1em;
          color: white;
          background-color: rgba(100,100,100,0.5);
          resize: none;
          cursor: pointer;
        }
      }
      > .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px 0 0 0;
        > button {
          height: 50px;
          width: 50%;
          max-width: 290px;
          border-radius: 25px;
          border: none;
          font-family: $f700;
          font-size: 1em;
          color: white;
          text-transform: uppercase;
        }
        > .form-checkbox {
          display: flex;
          justify-content: center;;
          align-items: center;
          margin: 10px 0 10px 0;
          > input[type=checkbox]:checked ~.decoration > label {
            background: rgb(0,192,255);
            background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
          }
          > .decoration {
            height: 15px;
            min-height: 15px;
            width: 15px;
            min-width: 15px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid grey;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px 0 0;
            > label {
              display: flex;
              height: 100%;
              min-height: 100%;
              width: 100%;
              min-width: 100%;
              border-radius: 50%;
              border: 3px solid white;
              background-color: white;
              cursor: pointer;
            }
          }
          > .text {
            > p {
              font-family: $f100;
              font-size: 0.8em;
              color: white;
              > label {
                cursor: pointer;
              }
            }
            > a {
              font-family: $f100;
              font-size: 0.8em;
              text-decoration: underline;
              cursor: pointer;
              color: white;
            }
          }
        }
      }
    }
    > .steps {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: 50px 0 50px 0;
      > .decoration {
        height: 350px;
        min-height: 350px;
        width: 350px;
        min-width: 350px;
        border-radius: 50%;
        background-color: rgba(50, 75, 90, 0.5);
        position: relative;
        > div {
          cursor: pointer;
        }
        > .d-1 {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-2 {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          left: 20%;
          top: 10%;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-3 {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          left: 7%;
          top: 25%;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-4 {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-5 {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          left: 7%;
          top: 75%;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-6 {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          position: absolute;
          left: 20%;
          top: 90%;
          transform: translateX(-50%) translateY(-50%);
        }
        > .d-7 {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
      > .step-1 {
        position: absolute;
        top: 0;
        left: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > h2 {
          font-family: $f900;
          font-size: 2em;
          color: white;
        }
        > p {
          font-family: $f100;
          font-size: 1em;
          color: white;
          max-width: 85px;
          margin: 0 0 0 15px;
        }
      }
      > .step-2 {
        position: absolute;
        top: 40%;
        left: -30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        > h2 {
          font-family: $f900;
          font-size: 2em;
          color: white;
        }
        > p {
          font-family: $f100;
          font-size: 1em;
          color: white;
          max-width: 85px;
          margin: 0 0 0 0;
        }
      }
      > .step-3 {
        position: absolute;
        top: 90%;
        left: 0%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > h2 {
          font-family: $f900;
          font-size: 2em;
          color: white;
        }
        > p {
          font-family: $f100;
          font-size: 1em;
          color: white;
          max-width: 85px;
          margin: 0 0 0 15px;
        }
      }
    }
  }
}
