.search-accessories {
  > h2 {
    font-family: $f900;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 50px 0;
  }
  > .cards-list {
    display: flex;
    justify-content: space-between;
    > .card {
      margin: 10px 0 0 0;
      height: auto;
      width: 100%;
      max-width: 265px;
      padding: 0 0 10px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      transition: $transition;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      z-index: 5;
      background-color: white;
      &:hover {
        transform: scale(1.05);
      }
      &:hover > .additional {display: flex;}
      > .image-contain {
        position: relative;
        height: 250px;
        width: 100%;
        background-color: white;
        > .sale {
          height: 50px;
          min-width: 50px;
          // background-color: rgba(100,100,100,0.5);
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 5%;
          display: flex;
          justify-content: center;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
          > div {
            height: 95%;
            width: #{calc(100% - 2px)};
            background-color: yellow;
            color: white;
            font-family: $f700;
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
          }
        }
        > .right {
          position: absolute;
          top: 20px;
          right: 0;
          display: flex;
          justify-content: flex-end;
          padding: 0 10px 0 0;
          > .image-contain {
            height: 25px;
            min-height: 25px;
            width: 25px;
            min-width: 25px;
            margin: 0 5px 0 5px;
            cursor: pointer;
          }
          > .icon-compare {
            background-image: url('../image/icon/compare-grey.svg');
            &:hover {
              background-image: url('../image/icon/compare.svg');
            }
          }
          > .icon-compare-active {
            background-image: url('../image/icon/compare.svg');
            &:hover {
              background-image: url('../image/icon/compare.svg');
            }
          }
          > .icon-heart {
            background-image: url('../image/icon/heart-grey.svg');
            &:hover {
              background-image: url('../image/icon/heart-fill.svg');
            }
          }
          > .icon-heart-active {
            background-image: url('../image/icon/heart.svg');
            &:hover {
              background-image: url('../image/icon/heart-fill.svg');
            }
          }
        }
      }
      > .info {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        background-color: white;
        padding: 0 10px 0 10px;
        > h3 {
          font-family: $f300;
          font-size: 1em;
        }
        > h2 {
          font-family: $f700;
          font-size: 1em;
          color: #0096ff;
          max-width: 200px;
        }
        > .price {
          display: flex;
          justify-content: space-between;
          > div {
            > p {
              font-family: $f300;
              font-size: 1em;
              text-decoration: line-through;
              color: #a4a4a4;
            }
            > h2 {
              font-family: $f700;
              font-size: 1.2em;
            }
            > .decoration {
              margin: 0 5px 0 0;
              height: 22px;
              width: 22px;
              min-height: 22px;
              min-width: 22px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background: rgb(59,229,0);
              background: linear-gradient(to bottom,  rgba(59,229,0,1) 0%,rgba(37,172,0,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3be500', endColorstr='#25ac00',GradientType=0 );
              > i {
                color: white;
                font-size: 0.8em;
              }
            }
            > .text {
              font-family: $f300;
              font-size: 1em;
            }
          }
          > .right{
            display: flex;
            align-items: flex-end;
          }
        }
        > .buttons {
          margin: 15px 0 15px 0;
          display: flex;
          flex-direction: column;
          > button {
            height: 50px;
            min-height: 50px;
            width: 100%;
            border-radius: 25px;
            font-family: $f700;
            font-size: 1em;
            text-transform: uppercase;
            margin: 5px 0 5px 0;
          }
        }
      }
    }
  }
}
