.videos {
  > .videos-title {
    width: 100%;
    max-width: 580px;
    margin: 50px auto 50px auto;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .decoration-left {
      height: 4px;
      width: 50px;
      border-radius: 3px;
      background: rgb(0,93,168);
      background: linear-gradient(to right,  rgba(0,93,168,1) 0%,rgba(25,187,245,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005da8', endColorstr='#19bbf5',GradientType=1 );
    }
    > .decoration-right {
      height: 4px;
      width: 50px;
      border-radius: 3px;
      background: rgb(25,187,245);
      background: linear-gradient(to right,  rgba(25,187,245,1) 0%,rgba(0,93,168,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19bbf5', endColorstr='#005da8',GradientType=1 );
    }
    > .text {
      margin: 0 50px 0 50px;
      > h2 {
        font-family: $f700;
        font-size: 3em;
        text-transform: uppercase;
      }
    }
  }
  > .videos-slider {
    margin: 50px 0 0 0;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    > .slider-left-arrow {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: #f7f7f7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: #{calc(50% - 15px)};
      left: #{calc((100% - 1110px) / 2)};
      transform: translateY(-50%) translateX(-100%);
      cursor: pointer;
      &:hover {
        background: rgb(0,192,255);
        background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
        box-shadow: $blue-shadow;
        > i {
          color:white;
        }
      }
      > i {
        color: $fontColor;
        font-size: 1em;
        transition: $transition;
      }
    }
    > .slider-right-arrow {
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: #f7f7f7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: #{calc(50% - 15px)};
      right: #{calc((100% - 1110px) / 2)};
      transform: translateY(-50%) translateX(100%);
      cursor: pointer;
      &:hover {
        background: rgb(0,192,255);
        background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
        box-shadow: $blue-shadow;
        > i {
          color:white;
        }
      }
      > i {
        color: $fontColor;
        font-size: 1em;
        transition: $transition;
      }
    }
    > .slider-content {
      height: 100%;
      display: flex;
      justify-content: space-around;
      position: relative;
      z-index: 10;
      > .card {
        width: 100%;
        max-width: 540px;
        height: 280px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        > .video {
          height: 100%;
          width: 100%;
        }
        > .title {
          position: absolute;
          top: 15px;
          left: 20px;
          height: 55px;
          width: 55%;
          background-color: rgba(100,100,100,0.8);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          overflow: hidden;
          > .circle {
            height: 50px;
            width: 50px;
            min-height: 50px;
            min-width: 50px;
            border-radius: 50%;
            background-color: rgba(30,30,30,0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 15px 0 5px;
            > i {
              color: grey;
              font-size: 1.5em;
            }
          }
          > p {
            white-space: nowrap;
            font-family: $f300;
            font-size: 1em;
            color: white;
          }
        }
        > .play-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 50px;
          width: 70px;
          transform: translateX(-50%) translateY(-50%);
          cursor: pointer;
          > img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
               object-fit: cover;
          }
        }
      }
    }
    > .pagination {
      height: 15px;
      width: 100%;
      margin: 30px 0 0 0;
      display: flex;
      justify-content: center;
      > div {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #e5e5e5;
        margin: 0 5px 0 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: rgba(0,192,255,0.3);
        }
        > div {
          height: 7px;
          width: 7px;
          border-radius: 50%;
        }
      }
      > .active {
        background: rgba(0,192,255,0.3);
        > div {
          background: rgb(0,192,255);
          background: linear-gradient(to bottom,  rgba(0,192,255,1) 0%,rgba(0,127,197,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c0ff', endColorstr='#007fc5',GradientType=0 );
        }
      }
    }
  }
}
