.block-7 {
  position: relative;
  padding: 50px 0 0 0;
  > a[name=feedback]{
    position: absolute;
    top: -80px;
  }
  > div {
    > .title {
      > h2 {
        text-align: center;
        font-family: 'Proxima Nova Bl';
        font-size: 3em;
        text-transform: uppercase;
        margin: 10px 0 10px 0;
        @media (max-width: 450px) { font-size: 2.2em;}
      }
      > .decoration {
        margin: 10px 0 0 0;
        > .line {
          position: relative;
          height: 1px;
          width: 400px;
          background: linear-gradient(to right,  rgba(186,186,186,0) 0%,rgba(186,186,186,1) 10%,rgba(186,186,186,1) 90%,rgba(186,186,186,0) 100%);
          > .pointer {
            position: absolute;
            height: 10px;
            width: 30px;
            background: rgb(10,140,229);
            background: linear-gradient(to bottom,  rgba(10,140,229,1) 0%,rgba(9,98,159,1) 100%);
            border-radius: 5px;
            top: -4px;
            left: #{calc(50% - 15px)};
          }
        }
      }
    }
    > .slider {
      margin: 40px 0 0 0;
      position: relative;
      > .left {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 37%;
        left: 1%;
        cursor: pointer;
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        transition: $transition;
        transform: rotate(180deg);
        &:hover {
          transform: scale(1.1) rotate(180deg);
        }
        // @media (max-width: 700px) { display: none;}
      }
      > .right {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        position: absolute;
        top: 37%;
        right: 1%;
        cursor: pointer;
        z-index: 1;
        background: white;
        border-radius: 50%;
        transition: $transition;
        &:hover {
          transform: scale(1.1);
        }
        // @media (max-width: 700px) { display: none;}
      }
      > .card-block {
        width: 100%;
        @media (max-width: 700px) { justify-content: center; align-items: center; >.card:nth-child(2) {display: none;}}
        > .card {
          width: #{calc(50% - 30px)};
          position: relative;
          border-radius: 10px;
          box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2);
          @media (max-width: 800px) { width: #{calc(50% - 10px)};}
          @media (max-width: 700px) { width: 95%; margin: 25px 0 0 0; }
          > .image {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            > img {
              height: 100%;
              width: 100%;
              border-radius: 10px;
              -o-object-fit: cover;
                 object-fit: cover;
            }
            > video {
              height: 100%;
              width: 100%;
              border-radius: 10px;
              -o-object-fit: cover;
                 object-fit: cover;
            }
          }
          > .play {
            height: 100px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            cursor: pointer;
            transition: $transition;
          }
          > .info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0 0 0;
            > .circle {
              height: 50px;
              width: 50px;
              background-color: pink;
              border-radius: 50%;
              margin-left: 15px;
              > img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                -o-object-fit: cover;
                   object-fit: cover;
              }
            }
            > .title {
              flex-grow: 1;
              text-align: left;
              > a {
                font-family: 'Proxima Nova Rg';
                font-size: 1.2em;
                font-weight: 400;
                color: white;
                margin-left: 15px;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            > .menu {
              margin-right: 15px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: $transition;
              &:hover > div {
                background-color: red;
              }
              > div {
                height: 5px;
                width: 5px;
                background-color: white;
                border-radius: 50%;
                margin: 2px auto;
                transition: $transition;
              }
            }
          }
        }
      }
      > .pagination {
        height: 15px;
        width: 100%;
        margin: 50px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        > .item {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          border: 5px solid white;
          background-color: #cccccc;
          margin: 0 5px;
          cursor: pointer;
          transition: $transition;
          &:hover {
            border: 5px solid #0a87dd;
            background-color: white;
          }
        }
        > .active {
          border: 5px solid #0a87dd;
          background-color: white;
        }
      }
    }
  }
}
